@model Nop.Plugin.Misc.SimpleCheckOut.Models.OnePageCheckoutModel
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}

@{
    //step numbers
    int billingAddressStepNumber = 1;
    int shippingAddressStepNumber = 2;
    int shippingMethodStepNumber = 3;
    int paymentMethodStepNumber = 4;
    int paymentInfoStepNumber = 5;
    int confirmOrderStepNumber = 6;
    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        shippingAddressStepNumber--;
        shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
}

<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout")</h1>
    </div>
    <div class="page-body checkout-data">
        <ol class="opc" id="checkout-steps">
            <li id="opc-billing" class="tab-section allow">
                <div class="step-title">
                    <span class="number">@billingAddressStepNumber</span>
                    <h2>@T("Checkout.BillingAddress")</h2>
                </div>
                <div id="checkout-step-billing" class="step a-item">
                    
                </div>
            </li>
            @if (Model.ShippingRequired)
            {
                <li id="opc-shipping" class="tab-section">
                    <div class="step-title">
                        <span class="number">@shippingAddressStepNumber</span>
                        <h2>@T("Checkout.ShippingAddress")</h2>
                    </div>
                    <div id="checkout-step-shipping" class="step a-item">

                    </div>
                </li>
                <li id="opc-shipping_method" class="tab-section">
                    <div class="step-title">
                        <span class="number">@shippingMethodStepNumber</span>
                        <h2>@T("Checkout.ShippingMethod")</h2>
                    </div>
                    <div id="checkout-step-shipping-method" class="step a-item">
                    </div>
                </li>
            }
            <li id="opc-payment_method" class="tab-section">
                <div class="step-title">
                    <span class="number">@paymentMethodStepNumber</span>
                    <h2>@T("Checkout.PaymentMethod")</h2>
                </div>
                <div id="checkout-step-payment-method" class="step a-item">
                    
                </div>
            </li>
            <li id="opc-payment_info" class="tab-section">
                <div class="step-title">
                    <span class="number">@paymentInfoStepNumber</span>
                    <h2>@T("Checkout.PaymentInfo")</h2>
                </div>
                <div id="checkout-step-payment-info" class="step a-item">
                   
                </div>
            </li>
            <li id="opc-confirm_order" class="tab-section">
                <div class="step-title">
                    <span class="number">@confirmOrderStepNumber</span>
                    <h2>@T("Checkout.ConfirmOrder")</h2>
                </div>
                <div id="checkout-step-confirm-order" class="step a-item">
                    
                </div>
            </li>
        </ol>
    </div>
</div>